@import "variables";
@import "mixins";

.navbar {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0000;
  -webkit-box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);

  &.darkModeOn {
    background: $darkModeBlue;
    color: #ffff;
    -webkit-box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 14px -13px rgba(0, 0, 0, 0.75);
  }

  @include breakpoint-up(large) {
    padding: 1.25rem 5rem 1.25rem 5rem;
  }

  h1 {
    font-size: $font-sm;
    font-weight: 800;
    color: $darkBlueText;
    margin: 0;

    &.darkMode {
        color: $white;
    }

    @include breakpoint-up(large) {
      font-size: $font-med;
    }
  }

  a {
    display: flex;
    flex-direction: row;
    font-size: $font-sm;
    cursor: pointer;
    color: $darkBlueText;

    &.darkMode {
        color: $white;
      }
  
      &.ligthMode {
        color: $darkBlueText;
      }

    span {
      margin-right: 0.5125rem;
    }
    @include breakpoint-up(large) {
      font-size: $font-med;
    }
    
  }
}