$darkModeBlue: hsl(209, 23%, 22%);
$veryDarkModeBlue: hsl(207, 26%, 17%);
$darkBlueText: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font-lg: 1.5rem;
$font-med: 1.25rem; 
$font-sm: 1.125rem;